# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Firebase 
./public/*
./public/*.*
./public/assets/*
./public/assets/css/*
./public/assets/imgs/*
./public/assets/js/*
./public/assets/scss/*